<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
    
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Taechit Nattakunrotjakorn</h1>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.show_downloads %}
        <ul class="downloads">
          <li><a href="https://drive.google.com/file/d/1Y5uxP3c3HQ4eRONGYNJIiczFx91aTjsc/view?usp=sharing" target= "_blank">View On <strong>Resume</strong></a></li>
          <li><a href="https://7echit.itch.io/" target= "_blank">itch.io <strong>Projects</strong></a></li>
        </ul>
        {% endif %}
        
        <div class="divtable">     
            <h3><b>SKILLS</b>  <i class="fa fa-gears"></i></h3>
          <table class="skilltable">
           <tr>
            <th>Software</th>
            <th>Languages</th>
            <th>Tools</th>
           </tr>
            <tr>
              <td>Unity</td>
              <td>C#</td>
              <td>Git</td>
            </tr>
            <tr>
              <td>Unreal</td>
              <td>HTML</td>
              <td>Sourcetree</td>
            </tr>
            <tr>
              <td>Blender</td>
              <td>CSS</td>
              <td>Trello</td>
            </tr>
            <tr>
              <td>Photoshop</td>
            </tr>
          </table>
         </div>
        
      </header>
      <section>
        {{ content }} 
      </section>
      <footer>
          <p><small>+66 (0) 99 935 6001 <br> <a href="mailto:7echit@gmail.com" target= "_blank">E-mail</a> &emsp;&emsp;
          <a href="https://line.me/ti/p/tYOLBWAXYx" target= "_blank">Line</a> &emsp;&emsp;
          <a href="https://www.linkedin.com/in/taechit-nattakunrotjakorn-ab4530186/" target= "_blank">Linkedin</a> </small></p>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
